# Excluir archivos generados por Code::Blocks
*.layout
*.depend

# Excluir directorios binarios y de objetos
bin/
obj/

# Excluir archivos binarios y de objetos específicos
*.exe
*.o

# Excluir archivos de sistema (Windows, macOS, Linux)
.DS_Store
Thumbs.db